@font-face {
    font-family: 'helveticalight';
    src: url('../fonts/HelveticaNeueCyr-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/HelveticaNeueCyr-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticalightitalic';
    src: url('../fonts/HelveticaNeueCyr-LightItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaroman';
    src: url('../fonts/HelveticaNeueCyr-Roman.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticamedium';
    src: url('../fonts/HelveticaNeueCyr-Medium.otf');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: 'helveticalight';
}
#main {
	background-color: #FFFFFF;
}
a, a:hover, a:active, a:visited {
	color: black;
	text-decoration: none;
}
ul {
	font-size: 0;
}
ul li {
	display: inline;
	font-size: 14px;
}
/*------------------------------*/
/*          HEADER
/*------------------------------*/
.header {
	height: 175px;
	background-color: #C4C4C4;
}
	.header-nav ul {
		padding: 6px 0;
		border-bottom: 1px solid #FFFFFF;
	}
	.header-nav ul li {
		border-right: 1px solid #9B9B9B;
	}
	.header-nav ul li:last-child {
		border-right: none;
	}
	.header-nav a {
		display: inline-block;
		padding: 10px 20px;
		border: 1px solid transparent;
		margin-left: -1px;
		margin-right: -1px;
	}
	.header-nav a:hover {
		border: 1px solid #646464;
		background-color: #9B9B9B;
	}
	.info {
		width: 728px;
		height: 33px;
		border-bottom: 1px solid #FFFFFF;
		float: right;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.tel {
		display: inline-block;
		height: 32px;
		font-size: 30px;
		padding-left: 40px;
		float: left;
		background: url('../images/trubka.png') no-repeat 0 0;
		font-family: 'helveticabold';
	}
		.tel .white-text {
			color: #FFFFFF;
			font-family: 'helveticalight';
		}
	.time {
		display: inline-block;
		height: 32px;
		padding-left: 40px;
		float: right;
		background: url('../images/clock.png') no-repeat 0 0;
	}
	.time span {
		display: block;
	}
	.header input {
		width: 398px;
		height: 30px;
		margin-left: 292px;
		margin-top: 10px;
		padding: 0 5px;
		background: url('../images/lupa.png') no-repeat 380px 7px;
		background-color: #EFEFEF;
		border-radius: 3px;
		color: #C4C4C4;
		font-family: 'helveticalightitalic';
	}
	.goods {
		float: right;
		padding-top: 10px;
		background: url('../images/korzina.png') no-repeat 0 5px;
	}
	.goods a {
		text-decoration: underline;
	}
	.korzina {
		display: inline-block;
		height: 32px;
		margin-right: 10px;
		padding-left: 45px;
		
	}
	.pcs {
		display: inline-block;
		color: #E93F40;
		width: 26px;
		height: 22px;
		border-radius: 13px;
		background-color: #EFEFEF;
		text-align: center;
		padding-top: 4px;
		margin-right: 10px;
	}
/*------------------------------*/
/*          MENU
/*------------------------------*/
.main-menu {
	height: 50px;
	background-color: #E93F40;
}
	.main-menu li {
		display: inline-block;
		width: 204px;
		text-align: center;
		position: relative;
	}
		.main-menu li ul {
			position: absolute;
			top: 50px;
			left: 0;
			display: none;
			z-index: 9999;
		}
		.main-menu li li a {
			background-color: #F4F4F4;
			color: black;
		}
		.main-menu li  li a:hover {
			background-color: #E93F40;
			color: #FFFFFF;
		}
		.main-menu li:hover ul {
			display: block;
		}
	.main-menu a {
		display: block;
		padding: 18px 0;
		color: #FFFFFF;
		font-family: 'helveticaroman';
	}
	.main-menu a:hover {
		background-color: #FFFFFF;
		color: black;
	}
/*------------------------------*/
/*          SLIDER
/*------------------------------*/
.slider {
	height: 450px;
	background-color: #EEEEEE;
	z-index: 1;
}
	.slidescontainer {
		width: 1020px;
		height: 430px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}
	.slidescontainer .slide {
		width: 1020px;
		height: 430px;
		margin: 0 auto;
		/*background: url('../images/slide.jpg') no-repeat 0 0;*/
	}
	.slide .control {
		display: block;
		width: 48px;
		height: 83px;
		position: absolute;		
		cursor: pointer;
		text-indent: -99999;
	}
	.slider .position {
		display: block;
		width: 41px;
		height: 11px;
		position: absolute;
		top: 400px;
		right: 60px;
		cursor: pointer;
		text-indent: -99999;
		background: url('../images/position.png') no-repeat 0 0;
		
	}
		.control.left {
			top: 175px;
			left: 20px;
			background: url('../images/left.png') no-repeat 0 0;
		}
		.control.right {
			top: 175px;
			right: 20px;
			background: url('../images/right.png') no-repeat 0 0;
		}
/*------------------------------*/
/*          CONTENT
/*------------------------------*/
.content {
	
}
 a.vkorzinu{
	padding: 7px 25px;
	border-radius: 2px;
	background-color: #E83E3F;
	font-family: 'helveticamedium';
	color: #FFFFFF;
}
	.content .left-column {
		width: 235px;
		float: left;
		padding-top: 65px;
	}
		.left-column .showed {
			width: 210px;
			height: 220px;
			border: 1px solid #E1E1E1;
			position: relative;
			margin-bottom: 30px;
		}
		.left-column .super-action {
			width: 210px;
			height: 225px;
			border: 1px solid #E1E1E1;
			position: relative;
			margin-bottom: 30px;
		}
		.aside-top {
			height: 35px;
			background-color: #FFE87B;
			vertical-align: middle;
			text-align: center;
			line-height: 35px;
			font-family: 'helveticaroman';
		}
		.left-column a {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
		.left-column .otzyvi {
			width: 210px;
			border: 1px solid #E1E1E1;
			position: relative;
			margin-bottom: 30px;
		}
			.otzyvi>.aside-top {
				text-align: left;
				padding-left: 35px;
				background: url('../images/ya.png') no-repeat 7px 7px;
				background-color: #EEEEEE;
			}
			.otz {
				width: 185px;
				margin: 0 auto;
				padding: 15px 0;
				font-family: 'helveticalight';
				font-size: 12px;
			}
			.otz-name {
				font-family: 'helveticaroman';
				margin-bottom: 15px;
			}
				.otz-name .red-text {
					color: #E83E3F;
				}
			.otz-text {
				color: #9B9B9B;
				margin-bottom: 15px;
				text-align: justify;
			}
			.otz-stars {
				color: #9B9B9B;
				line-height: 14px;
				vertical-align: middle;
				background: url('../images/stars.png') no-repeat 0 0;
				text-align: right;
			}
	.content .right-column {
		width: 785px;
		float: right;
		padding-top: 65px;
	}
		.right-column h2 {
			text-align: center;
			font-family: 'helveticaroman';
			position: relative;
		}
		.row {
			width: 100%;
			padding-top: 25px; 
			height: 248px;
			position: relative;
		}
		.row:last-child {
			margin-bottom: 75px;
		}
		.tovar {
			background-color: #FFFFFF;
			display: inline-block;
			width: 168px;
			height: 230px;
			border: 1px solid #E1E1E1;
			margin-left: 11px;
			margin-right: 11px;
			position: relative;
			vertical-align: top;
			text-align: center;
			padding-top: 18px;
			overflow: hidden;
			text-overflow: clip;
		}
		.tovar:hover {
			height: 320px;
			border-color: #FFDF48;
			box-shadow: 0 0 1px 1px #FFDF48;
			z-index: 3000000000;
		}
			.tovar img {
				height: 120px;
			}
			.tovar span {
				display: block;
				font-size: 12px;
				margin-bottom: 10px;
				font-family: 'helveticaroman';
			}
			.tovar a {
				display: inline-block;
				margin-bottom: 20px;
			}
			.tovar .check {
				display: block;
				cursor: pointer;
				text-align: left;
				padding-left: 40px;
				margin-bottom: 12px;
				background: url('../images/check.gif') no-repeat 22px 1px;
			}
			.tovar .guarantee {
				display: block;
				font-family: 'helveticalight';
				padding: 10px 0;
				margin: 0 auto;
				width: 140px;
				border-top: 1px solid #E1E1E1;
			}
/*------------------------------*/
/*        BOTTOM MENU
/*------------------------------*/
.bottom-menu {
	height: 50px;
	background-color: #4B4B4B;
}
	.bottom-nav ul {
		padding: 6px 0;
	}
	.bottom-nav li {
		border-right: 1px solid #9B9B9B;
	}
	.bottom-nav li:last-child {
		border-right: none;
	}
	.bottom-nav a {
		display: inline-block;
		padding: 10px 20px;
		color: #FFFFFF;
	}
/*------------------------------*/
/*          SOCIALS
/*------------------------------*/
.socials {
	height: 118px;
	text-align: center;
	padding-top: 30px;
}
	.socials h2 {
		display: block;
		text-align: center;
		margin-bottom: 20px;
		font-family: 'helveticaroman';
		color: #828282;
	}
	.social {
		display: inline-block;
		text-indent: -9999px;
		width: 48px;
		height: 48px;
		margin-left: 16px;
		margin-right: 16px;
	}
		.gp {
			background: url('../images/gp.png') no-repeat 0 0;
		}
		.vk {
			background: url('../images/vk.png') no-repeat 0 0;
		}
		.fb {
			background: url('../images/fb.png') no-repeat 0 0;
		}
/*------------------------------*/
/*          FOOTER
/*------------------------------*/
.footer {
	height: 70px;
	background-color: #1C1C1C;
	padding-top: 30px;
}
	.adress {
		display: inline-block;
		color: #FFFFFF;
	}
	.adress a {
		color: #3B5998;
		text-decoration: underline;
	}
	.metrica {
		width: 88px;
		height: 30px;
		background-color: #FFFFFF;
		display: inline-block;
		float: right;
		margin-left: 18px;
	}
.inner {
	width: 1020px;
	margin: 0 auto;
}
.clear {
	width: 100%;
	height: 0;
	clear: both;
}
/*------------------------------*/
/*       for OBZOR.HTML
/*------------------------------*/
h2.align-left {
	text-align: left;
}
.obz-images {
	width: 532px;
	float: left;
	padding-top: 20px;
}
	.big-img {
		display: block;
		width: 530px;
		height: 350px;
		border: 1px solid #E1E1E1;
		margin-bottom: 10px;
	}
	.small-img {
		display: inline-block;
		cursor: pointer;
		border: 2px solid #E1E1E1;
		width: 50px;
		height: 50px;
		margin-right: 10px;
	}
		.small-img:hover {
			border-color: #767E7E;
		}
.obz-pokupka {
	width: 240px;
	float: right;
}
.obzor-bottom {
	padding-top: 40px;
}
	.obz-menu {
		height: 50px;
		background-color: #F4F4F4;
		line-height: 50px;
		margin-bottom: 20px;
		vertical-align: middle;
		font-family: 'helveticamedium';
	}
	.obz-menu li {
		margin: 0 30px;
	}
	.obz-menu a {
		text-decoration: underline;
	}
	.obz-menu a:hover, .obz-menu a.active {
		text-decoration: none;
	}
	#obzor, #haract, #video {
		width: 100%;
	}
	#obzor {
		display: block;
	}
		#obzor .opisanie {
			display: block;
			height: 120px;
			padding-left: 60px;
			background: url('../images/opisanie.gif') no-repeat 0 0;
		}
		#obzor .opisanie2 {
			display: inline-block;
			height: 70px;
			padding-left: 60px;
			width: 290px;
		}
			.obshie {
				background: url('../images/obshie.gif') no-repeat 0 0;
			}
		#obzor .opisanie3 {
			display: inline-block;
			height: 70px;
			padding-left: 60px;
			width: 330px;
		}
	#haract {
		display: none;
	}
	#video {
		display: none;
	}